.card {
  padding: 3%;
  margin: 40px;
}

.place-img {
  max-height: 100%;
  max-width: 100%;
}

.img-container {
  padding-right: 50px;
}

.header {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.map-logo {
  width: 16px;
}

a {
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: underline;
  color: #918e9b;
}

#placename {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.17em;
  color: #2b283a;
  text-transform: uppercase;
}

.location {
  font-weight: 700;
  color: #2b283a;
  margin-bottom: 20px;
}

.dates {
  font-weight: 700;
  font-size: 18px;
  color: #2b283a;
  margin-bottom: 20px;
}

.desc {
  font-weight: 400;
  color: #2b283a;
}
